{% extends "aplicacion/base_admin.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}



<!-- Tabla con los datos del usuario -->
<div class="container mt-4">
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ usuario.rut }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>


<div class="container mt-4">
    <a href='{% url "gestion_prod" %}' role='button' class="btn btn-light border">Volver</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        Eliminar Usuario
      </button>
</div>



  <!-- The Modal -->
  <div class="modal" id="myModal" >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Esta seguro que desea eliminar al usuario</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>RUT</th>
                        <th>Nombre</th>
                        <th>apellido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ usuario.rut }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>

          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Confirmar Eliminación">
        </form>
        </div>
        
  
      </div>
    </div>
  </div>








{% endblock contenido %}
